.snake {
    position: absolute;
    height: 20px;
    width:20px;
    background-color: #555;
}



.food {
    position: absolute;
    height:20px;
    width:20px;
    background-color: rgb(255, 83, 83);
}